@import "style.scss";
@import "common.scss";
@import "mixin.scss";


//header
header { 
    .logo-menu {
        .confix {
            // background-color: bisque;
            @include confix();
            .header-flex {
                display: flex;
                flex-direction: column;
                margin : 0 10px 0 10px;

                @include responsive(tablet-size) {
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 0 30px 0 30px;
                    height: 100px;
                }
                
                .main-logo {
                    text-align: center;
                    width: 100%;              
                    img {
                        width: 30%;
                        @include responsive(tablet-size) {
                            width: 100%;
                            vertical-align: middle;
                        }
                    }

                    @include responsive(tablet-size) {
                        width: 20%;
                        line-height: 90px;
                    }
                    @include responsive(pc-size) {
                        width: 15%;
                    }
                }

                .menu {
                    margin: 10px 0;
                    width: 100%;

                    @include responsive(tablet-size) {
                        width: 73%;
                        vertical-align: middle;
                        line-height: 1.5em;
                    }
                    @include responsive(pc-size) {
                        width: 75%;
                        vertical-align: middle;
                        line-height: 1.5em;
                    }

                    .small-nav {
                        display: none;
                        @include responsive(tablet-size) {
                            display: block;
                            margin: 10px 0 30px 0;
                            ul {
                                display: flex;
                                float: right;
                                li {
                                    padding: 0 13px;
                                    font-size: 0.7em;
                                    font-weight: 600;
                                    border-right: 1px solid $black;
                                    &:last-child {
                                        padding-right: 0;
                                        border-right: none;
                                    }
                                }
                            }
                        }
                        @include responsive(pc-size) {
                            margin: 10px 0 45px 0;
                        }
                    }

                    .main-nav {
                        width: 100%;
                        ul {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            text-align: center;
                            @include responsive(tablet-size) {
                                clear: both;
                            }

                            li {
                                font : {
                                    size: 0.65em;
                                    weight: 600;
                                }
                                @include responsive(tablet-size) {
                                    font-size: 0.7em;
                                    &:last-child {
                                        text-align: right;
                                    }
                                }
                                @include responsive(pc-size) {
                                    font-size: 1.1em;
                                    font-weight: 540;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//article
article {
    .main-img {        
        position: relative;

        img {
            width: 100%;
        }
        .title {
            position: absolute;
            vertical-align: middle;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            h1 {
                width: 100%;
                font-size: 1.2em;
                color: $white;
            }
            h2 {
                display: none;
            }
        }
    }
}