@import "style.scss";
@import "common.scss";
@import "mixin.scss";

//header
header { 
    .logo-menu {
        .confix {
            // background-color: bisque;
            @include confix();
            .header-flex {
                display: flex;
                flex-direction: column;

                @include responsive(tablet-size) {
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 0 30px 0 30px;
                    height: 100px;
                }
                
                .main-logo {
                    margin-top: 15px;
                    text-align: center;
                    width: 100%;         
                    img {
                        width: 40%;
                        @include responsive(tablet-size) {
                            width: 100%;
                            vertical-align: middle;
                        }
                    }

                    @include responsive(tablet-size) {
                        margin-top: 0;
                        width: 20%;
                        line-height: 90px;
                    }
                    @include responsive(pc-size) {
                        width: 15%;
                    }
                }

                .menu {
                    margin: 10px 0;
                    width: 100%;

                    @include responsive(tablet-size) {
                        width: 73%;
                        vertical-align: middle;
                        line-height: 1.5em;
                    }
                    @include responsive(pc-size) {
                        width: 75%;
                        vertical-align: middle;
                        line-height: 1.5em;
                    }

                    .small-nav {
                        display: none;
                        @include responsive(tablet-size) {
                            display: block;
                            margin: 15px 0 30px 0;
                            ul {
                                display: flex;
                                float: right;
                                li {
                                    padding: 0 13px;
                                    font-size: 0.7em;
                                    font-weight: 600;
                                    border-right: 1px solid $black;
                                    &:last-child {
                                        padding-right: 0;
                                        border-right: none;
                                    }
                                    a {
                                        &:hover {
                                            color: $mem-color;
                                        }
                                    }
                                }
                            }
                        }
                        @include responsive(pc-size) {
                            margin: 10px 0 45px 0;
                        }
                    }

                    .main-nav {
                        width: 100%;
                        ul {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            text-align: center;
                            @include responsive(tablet-size) {
                                clear: both;
                            }

                            li {
                                font : {
                                    size: 0.6em;
                                    weight: 500;
                                }
                                @include responsive(tablet-size) {
                                    font-size: 0.7em;
                                    &:last-child {
                                        text-align: right;
                                    }
                                }
                                @include responsive(pc-size) {
                                    font-size: 1.1em;
                                    font-weight: 600;
                                }
                                &:after {
                                    display: block;
                                    content: '';
                                    border-bottom: solid 1px $mem-color;
                                    transform: scaleX(0);
                                    transition: transform 250ms ease-in;
                                }
                                &:hover:after {
                                    transform: scaleX(1);
                                }
                                a {
                                    &:hover {
                                        color: $mem-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//article
article {
    .main-img {        
        position: relative;

        img {
            width: 100%;
            max-height: 850px;
        }
        .title {
            position: absolute;
            text-align: center;
            color: $white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            h1 {
                width: 100%;
                font-size: 1.2em;
                @include responsive(tablet-size) {
                    font-size: 1.5em;
                    margin-bottom: 10px;
                }
                @include responsive(pc-size) {
                    font-size: 4.5em;
                    margin-bottom: 20px;
                }
            }
            p {
                display: none;
                @include responsive(tablet-size) {
                    display: block;
                    font-size: 0.7em;
                    line-height: 1.6em;
                }
                @include responsive(pc-size) {
                    font-size: 0.9em;
                    line-height: 1.8em;
                }
            }
        }
    }

    .reserve-bar {
        background-color: $brown;
        transform: translateY(-4px);
        margin-bottom: 150px;

        @include responsive(tablet-size) {
            margin-bottom: 120px;
        }
        @include responsive(tablet-size) {
            margin-bottom: 300px;
        }

        .confix {
            @include confix();

            .reserve-confix {
                .reservation {
                    ul {
                        height: 140px;
                        color: $white;
                        display: flex;
                        justify-content: space-around;
                        text-align: left;

                        @include responsive(tablet-size) {
                            height: 80px;
                        }

                        p {
                            display: flex;
                            align-items: center;
                            text-align: center;
                            @include responsive(tablet-size) {
                                width: 20%;
                            }
                        }

                        .li-flex {
                            display: flex;
                            flex-direction: column;

                            @include responsive(tablet-size) {
                                flex-direction: row;
                                width: 60%;
                                justify-content: space-around;
                                align-items: center;
                            }

                            @include responsive(pc-size) {
                                width: 70%;
                                justify-content: space-between;
                            }

                            li {
                                margin: 5px 0;
                                a{ 
                                    color:$white;
                                    line-height: 24px;
                                    &:hover {
                                        color: $mem-color;
                                    }
                                }
                                img {
                                    margin-right: 15px;
                                    transform: translateY(25%);
                                }
                                &:nth-child(3) {
                                    img {
                                        width: 30px;
                                    }
                                }
                                @include responsive(tablet-size) {
                                    display: flex;
                                    transform: translateY(-25%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//main
main {
    text-align: center;

    .event {
        margin-bottom: 150px;

        @include responsive(tablet-size) {
            margin-bottom: 120px;
        }
        @include responsive(tablet-size) {
            margin-bottom: 300px;
        }

        .confix {
            @include confix();
            h2 {
                font-size: 2em;
                margin-bottom: 5px;
            }
            p {
                font-size: 0.8em;
                margin-bottom: 50px;
                @include responsive(tablet-size) {
                    font-size: 1em;
                }
            }
            .event-list {
                @include responsive(pc-size) {
                    display: flex;
                    justify-content: space-around;
                }

                .eventBox {
                    @include eventBox();

                    .img-box {
                        a {
                            img {
                                @include eventImg();
                            }
                        }
                    }

                    .eventText {
                        @include eventText();
                    }
                }
            }

            hr {
                @include hr();
            }

            .btn {
                button {
                    @include button();
                }
            }
        }
    }

    .program {
        margin-bottom: 150px;

        @include responsive(tablet-size) {
            margin-bottom: 120px;
        }
        @include responsive(tablet-size) {
            margin-bottom: 300px;
        }

        .confix {
            @include confix();
            h2 {
                font-size: 2em;
                margin-bottom: 5px;
            }
            p {
                font-size: 0.8em;
                margin-bottom: 50px;
                @include responsive(tablet-size) {
                    font-size: 1em;
                }
            }
            .program-list {
                .program-grid {
                    @include responsive(pc-size) {
                        width: 75%;
                        margin: 0 auto;
                    }
                    a {
                        .face,
                        .campfire {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            margin-bottom: 50px;
                            transform: scale(0.96);
                            transition-delay: 0.8s;
                            transition: 0.3s ease-out;
                            &:hover {
                                transform: scale(1);
                                transition: 0.2s ease-in;
                            }
                            @include responsive(tablet-size) {
                                flex-direction: row;
                            }
    
                            img {
                                @include responsive(tablet-size) {
                                    width: 40%;
                                }
                                @include responsive(pc-size) {
                                    width: 25%;
                                }
                            }
    
                            div {
                                width: 270px;
                                margin: 0 auto;
                                h4 {
                                    margin: 15px 0 10px 0;
                                    @include responsive(tablet-size) {
                                        text-align: left;
                                        margin-top: 0;
                                    }
                                }
    
                                p {
                                    margin: 0 auto;
                                    text-align: left;
                                }
    
                                @include responsive(tablet-size) {
                                    width: 50%;
                                }
                            }
                            @include responsive(tablet-size) {
                                display: flex;
                                justify-content: space-between;
                            }
                            @include responsive(tablet-size) {
                                justify-content: space-around;
                            }
                        }
                    }
                }
            }

            hr {
                @include hr();
            }
            .btn {
                button {
                    @include button();
                }
            }
        }
    }

    .middle-banner {
        display: flex;
        flex-direction: column;
        background-color: $brown;
        margin-bottom: 150px;

        @include responsive(tablet-size) {
            margin-bottom: 120px;
        }
        @include responsive(tablet-size) {
            margin-bottom: 300px;
        }
        
        @include responsive(pc-size) {
            flex-direction: row;
        }
        
        .left-side {
            text-align: left;
            padding: 80px 0;
            position: relative;
            // @include confix();
            @include responsive(pc-size) {
                width: 50%;
            }
                        
            .confix {     
                .left-text {
                    @include confix();
                    @include responsive(pc-size) {
                        width: 50%;
                    }

                    h2 {
                        font-size: 2.5em;
                        color: $mem-color;
                        letter-spacing: 0.1em;
                        @include responsive(tabelt-size) {
                            letter-spacing: 0.2em;
                            font-size: 2.7em;
                        }
                        @include responsive(pc-size) {
                            font-size: 2.9em;
                        }
                    }

                    h3 {
                        margin: 30px 0 70px 0;
                        color: $white;
                        font-size: 1.5em;
                        @include responsive(tabelt-size) {
                            font-size: 2em;
                        }
                        @include responsive(pc-size) {
                            font-size: 2em;
                        }

                    }
                    p {
                        line-height: 2em;
                        color: $white;
                        font-size: 1em;
                        margin-bottom: 40px;
                    }
                }

                .member-benefit-detail {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    padding: 25px 40px;
                    background-color: $dark-brown;
                    a {
                        font-size: 1.375em;
                        font-weight: 600;
                        color: $white;
                        span {
                            img {
                                transform: translateY(5px);
                            }
                        }

                        &:hover {
                            color: $mem-color;
                            span {
                                img {
                                    transform: scale(1.3) translateY(5px);
                                }
                            }
                        }
                    }
                }
            }
        }
        .right-side {
            display: none;

            @include responsive(pc-size) {
                display: block;
                width: 50%;
                float: right;
                overflow: hidden;
            }

            img {
                @include responsive(pc-size) {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .room {
        margin-bottom: 150px;

        @include responsive(tablet-size) {
            margin-bottom: 120px;
        }
        @include responsive(tablet-size) {
            margin-bottom: 300px;
        }

        .confix {
            @include confix();
            h2 {
                font-size: 2em;
                margin-bottom: 5px;
            }
            h2 + p {
                font-size: 0.8em;
                margin-bottom: 50px;
                @include responsive(tablet-size) {
                    font-size: 1em;
                }
            }

            
            .room-flexbox {
                @include responsive(tablet-size) {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                @include responsive(pc-size) {
                    justify-content: space-around;
                }

                .room-list {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin:  0 auto;
                    margin-bottom: 50px;
                    
                    @include responsive(tablet-size) {
                        margin-left: 0;
                        margin-bottom: 0;
                        width: 30%;
                    }
                    @include responsive(pc-size) {
                        margin-right: 0;
                        width: 15%;
                    }
                    

                    ul {
                        li {
                            display: flex;
                            flex-direction: column;
                            width: 175px;
                            height: 140px;
                            margin: 10px auto;
                            @include responsive(tablet-size) {
                                margin: 30px 0 33px auto;
                            }
                            @include responsive(pc-size) {
                                margin-bottom: 20px;
                                &:last-child {
                                    margin-bottom: 0px;
                                }
                            }
                            
                            a {
                                display: block;
                                width: 100%;
                                height: 100%;
                                overflow: hidden;
                                position: relative;

                                figure {
                                    width: 100%;
                                    height: 100%;

                                    figcaption {
                                        width: 100%;
                                        height: 100%;
                                        background-color: rgba(0,0,0,0.7);
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        color: $white;
                                        text-align: center;
                                        line-height: 140px;
                                        opacity: 0;
                                        transition: 0.4s;
                                        font-weight: 200;
                                    }
                                }

                                &:hover {
                                    figcaption {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                    a {
                        img {
                            position: relative;
                        }
                    }

                    p {
                        color: $white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                .room-info-img {
                    display: none;
                    margin-bottom: 50px;

                    @include responsive(tablet-size) {
                        display: block;
                        width: 67%;
                    }
                    @include responsive(pc-size) {
                        display: flex;
                        width: 75%;
                    }
                    .room-info {
                        h4 {
                            padding-top: 30px;
                            font-size: 1.1em;
                            margin-bottom: 15px;
                        }
                        p {
                            font-size: 0.9em;
                            margin-bottom: 15px;
                        }
                        @include responsive(pc-size) {
                            margin-top: 150px;
                            margin-right: 80px;
                        }
                    }

                    .room-zoom {
                        img {
                            width: 450px;
                            bottom: 0;
                            @include responsive(pc-size) {
                                margin-top: 50px;
                                width: 100%
                            }
                        }
                    }
                }

                /*.room-info-img {
                    @include responsive(pc-size) {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                    }

                    .room-info {
                        display: none;
                        @include responsive(tablet-size) {
                            display: block;
                        }
                        h4 {
                            font-size: 1.1em;
                            margin-bottom: 20px;
                            @include responsive(pc-size) {
                                margin: 80px 0;
                            }
                        }
                        p {
                            font-size: 0.9em;
                            margin: 0 auto;
                        }
                        .room-detail-info {
                            margin: 10px 0;
                        }
                    }
    
                    .room-zoom {
                        display: none;
                        
                        @include responsive(tablet-size) {
                            display: block;
                        }
                        
                        img {
                            @include responsive(tablet-size) {
                                width: 90%;
                            }
                            @include responsive(pc-size) {
                                width: 100%;
                            }
                        }
                    }
                }*/
            }
        }

        hr {
            @include hr();
        }
        .btn {
            button {
                @include button();
            }
        }
    }

    .facility {
        margin-bottom: 150px;

        @include responsive(tablet-size) {
            margin-bottom: 120px;
        }
        @include responsive(tablet-size) {
            margin-bottom: 300px;
        }

        .confix {
            @include confix();
            h2 {
                font-size: 2em;
                margin-bottom: 5px;
            }
            p {
                font-size: 0.8em;
                margin-bottom: 50px;
                @include responsive(tablet-size) {
                    font-size: 1em;
                }
            }

            .facility-flexbox {
                margin: 0 auto;
                .facility-list {
                    ul {
                        @include responsive(tablet-size) {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                        }

                        @include responsive(pc-size) {
                            display: flex;
                            flex-wrap: nowrap;
                        }
                        div {
                           li {
                            position: relative;
                            p {
                                color: $white;
                            }
                            img {
                                &:hover {
                                    opacity: 0.7;
                                    transform: translate(0, -4px);
                                    transition: 0.3s ease;
                                }
                            }
                           } 

                           p {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: $black;
                            font-weight: 500;
                           }
                        }
                    }
                }
            }
        }
    }
}

//footer
footer {
    background-color: #5a362c;
    .logo-footer-text-footer-menu {
        color: $white;
        .confix {
            @include confix();

            .footer-flexbox {
                .logo {
                    text-align: center;
                    padding-top: 45px;
                }

                .footer-flex-tablet {
                    .footer-info {
                        margin: 50px 0;
                        margin-bottom: 30px;
                        line-height: 1.5em;
                        font-weight: 100;
                        font-size: 0.75em;
                        @include responsive(pc-size) {
                            margin-right: 120px;
                        }
                    }
    
                    .footer-company {
                        .footer-company-law {
                            ul {
                                display: flex;
                                justify-content: space-between;
                                li {
                                    font-weight: 600;
                                    font-size: 0.75em;
                                    a {
                                        color: $white;
                                        &:hover {
                                            color: $mem-color;
                                        }
                                    }

                                    @include responsive(tablet-size) {
                                        margin-left: 10px;
                                    }
                                }
                            }
                        }
                        .footer-right-align {
                           text-align: right;
                           padding-bottom: 45px;
                           .sns {
                            margin: 10px 0 5px 0;
                           }
                           .family-site {
                                form{
                                    select{
                                        width: 200px;
                                        text-align: center;
                                        border-radius: 0;
                                    }
                                }
                            }
                        }

                        @include responsive(tablet-size) {
                            margin: 50px 0;
                        }
                    }

                    @include responsive(tablet-size) {
                        display: flex;
                        justify-content: space-between;
                    }
                }

                @include responsive(pc-size) {
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
    }
}