@mixin confix() {
    width: 100%;
    margin: 0 auto;
    padding: 0 7%;
    // background-color: antiquewhite;

    @include responsive(pc-size) {
        max-width: 1320px;
        padding: 0;
    }
    // background-color: skyblue;
}
@mixin hr() {
    background-color: $line-color;
    border: 0;
    height: 1px;
    margin: 0 auto 30px auto;
}
@mixin button() {
    width: 200px;
    height: 55px;
    cursor: pointer;
    border-radius: 0;
    border: 0;
    background-color: $brown;
    color: $white;
    &:hover {
        background-color: $dark-brown;
        transition: 0.2s ease-in;
        color: $mem-color;
        font-weight: 600;
        font-size: 0.8em;
    }
}

@mixin eventBox() {
    margin-bottom: 50px;

    @include responsive(tablet-size) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
    }

    @include responsive(pc-size) {
        flex-direction: column;
        width: 30%;
    }
}

@mixin eventImg() {
    width: 100%;
    opacity: 1;
    &:hover {
        opacity: 0.7;
        transition: 0.5s ease-out;
    }
    @include responsive(pc-size) {
        width: 100%;
    }
}

@mixin eventText() {
    @include responsive(tablet-size) {
        margin-left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
    }

    @include responsive(pc-size) {
        margin-left: 0;
        width: 100%;
        margin: auto;
    }
    
    .text-position {
        @include responsive(tablet-size) {
            text-align: left;
        }
        @include responsive(pc-size) {
            text-align: center;
        }
    }
}

@mixin responsive($break) {
   @if $break == mobile-size {
       @media screen and (min-width: $break-mobile) {
           @content;
       }
   }

   @else if $break == tablet-size {
       @media screen and (min-width: $break-tablet) {
           @content;
       }
   }

   @else if $break == pc-size {
       @media screen and (min-width: $break-pc) {
           @content;
       }
   }
}