@import url('//fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

$black : #000;
$brown : #5a362c;
$dark-brown : #38221c;
$white : #fff;
$line-color : #828181;
$mem-color: #b28c82;

$font-sans: 'Noto sans kr';
$font-en: 'Roboto', sans-serif;

//중단점
$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;