@import "./style.scss";
@import "./common.scss";
@import "./mixin.scss";

//header
// header { 
//     .logo-menu {
//         .confix {
//             // background-color: bisque;
//             @include confix();
//             .header-flex {
//                 display: flex;
//                 flex-direction: column;

//                 @include responsive(tablet-size) {
//                     flex-direction: row;
//                     justify-content: space-between;
//                     margin: 0 30px 0 30px;
//                     height: 100px;
//                 }
                
//                 .main-logo {
//                     max-width: 20%;
//                     margin: 10px auto;
//                     img {
//                         width: 100%;
//                     }
//                     // margin-top: 15px;
//                     // text-align: center;
//                     // width: 100%;         
//                     // img {
//                     //     width: 40%;
//                     //     @include responsive(tablet-size) {
//                     //         width: 100%;
//                     //         vertical-align: middle;
//                     //     }
//                     // }

//                     @include responsive(tablet-size) {
//                         margin-top: 0;
//                         width: 20%;
//                         line-height: 90px;
//                     }
//                     @include responsive(pc-size) {
//                         width: 15%;
//                     }
//                 }

//                 .menu {
//                     margin: 10px 0;
//                     width: 100%;

//                     @include responsive(tablet-size) {
//                         width: 73%;
//                         vertical-align: middle;
//                         line-height: 1.5em;
//                     }
//                     @include responsive(pc-size) {
//                         width: 75%;
//                         vertical-align: middle;
//                         line-height: 1.5em;
//                     }

//                     .small-nav {
//                         display: none;
//                         @include responsive(tablet-size) {
//                             display: block;
//                             margin: 15px 0 30px 0;
//                             ul {
//                                 display: flex;
//                                 float: right;
//                                 li {
//                                     padding: 0 13px;
//                                     font-size: 0.7em;
//                                     font-weight: 600;
//                                     border-right: 1px solid $black;
//                                     &:last-child {
//                                         padding-right: 0;
//                                         border-right: none;
//                                     }
//                                     a {
//                                         &:hover {
//                                             color: $mem-color;
//                                         }
//                                     }
//                                 }
//                             }
//                         }
//                         @include responsive(pc-size) {
//                             margin: 10px 0 45px 0;
//                         }
//                     }

//                     .main-nav {
//                         width: 100%;
//                         ul {
//                             width: 100%;
//                             display: flex;
//                             justify-content: space-between;
//                             text-align: center;
//                             @include responsive(tablet-size) {
//                                 clear: both;
//                             }

//                             li {
//                                 font : {
//                                     size: 0.6em;
//                                     weight: 500;
//                                 }
//                                 @include responsive(tablet-size) {
//                                     font-size: 0.7em;
//                                     &:last-child {
//                                         text-align: right;
//                                     }
//                                 }
//                                 @include responsive(pc-size) {
//                                     font-size: 1.1em;
//                                     font-weight: 600;
//                                 }
//                                 &:after {
//                                     display: block;
//                                     content: '';
//                                     border-bottom: solid 1px $mem-color;
//                                     transform: scaleX(0);
//                                     transition: transform 250ms ease-in;
//                                 }
//                                 &:hover:after {
//                                     transform: scaleX(1);
//                                 }
//                                 a {
//                                     &:hover {
//                                         color: $mem-color;
//                                     }
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

//article
// article {
//     .main-img {        
//         position: relative;

//         img {
//             width: 100%;
//             max-height: 850px;
//         }
//         .title {
//             position: absolute;
//             text-align: center;
//             color: $white;
//             top: 50%;
//             left: 50%;
//             transform: translate(-50%, -50%);

//             h1 {
//                 width: 100%;
//                 font-size: 1.2em;
//                 @include responsive(tablet-size) {
//                     font-size: 1.5em;
//                     margin-bottom: 10px;
//                 }
//                 @include responsive(pc-size) {
//                     font-size: 4.5em;
//                     margin-bottom: 20px;
//                 }
//             }
//             p {
//                 display: none;
//                 @include responsive(tablet-size) {
//                     display: block;
//                     font-size: 0.7em;
//                     line-height: 1.6em;
//                 }
//                 @include responsive(pc-size) {
//                     font-size: 0.9em;
//                     line-height: 1.8em;
//                 }
//             }
//         }
//     }

//     .reserve-bar {
//         background-color: $brown;
//         transform: translateY(-4px);
//         margin-bottom: 150px;

//         @include responsive(tablet-size) {
//             margin-bottom: 120px;
//         }
//         @include responsive(tablet-size) {
//             margin-bottom: 300px;
//         }

//         .confix {
//             @include confix();

//             .reserve-confix {
//                 .reservation {
//                     ul {
//                         height: 140px;
//                         color: $white;
//                         display: flex;
//                         justify-content: space-around;
//                         text-align: left;

//                         @include responsive(tablet-size) {
//                             height: 80px;
//                         }

//                         p {
//                             display: flex;
//                             align-items: center;
//                             text-align: center;
//                             @include responsive(tablet-size) {
//                                 width: 20%;
//                             }
//                         }

//                         .li-flex {
//                             display: flex;
//                             flex-direction: column;

//                             @include responsive(tablet-size) {
//                                 flex-direction: row;
//                                 width: 60%;
//                                 justify-content: space-around;
//                                 align-items: center;
//                             }

//                             @include responsive(pc-size) {
//                                 width: 70%;
//                                 justify-content: space-between;
//                             }

//                             li {
//                                 margin: 5px 0;
//                                 a{ 
//                                     color:$white;
//                                     line-height: 24px;
//                                     &:hover {
//                                         color: $mem-color;
//                                     }
//                                 }
//                                 img {
//                                     margin-right: 15px;
//                                     transform: translateY(25%);
//                                 }
//                                 &:nth-child(3) {
//                                     img {
//                                         width: 30px;
//                                     }
//                                 }
//                                 @include responsive(tablet-size) {
//                                     display: flex;
//                                     transform: translateY(-25%);
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// //main
// main {
//     text-align: center;

//     .event {
//         margin-bottom: 150px;

//         @include responsive(tablet-size) {
//             margin-bottom: 120px;
//         }
//         @include responsive(tablet-size) {
//             margin-bottom: 300px;
//         }

//         .confix {
//             @include confix();
//             h2 {
//                 font-size: 2em;
//                 margin-bottom: 5px;
//             }
//             p {
//                 font-size: 0.8em;
//                 margin-bottom: 50px;
//                 @include responsive(tablet-size) {
//                     font-size: 1em;
//                 }
//             }
//             .event-list {
//                 @include responsive(pc-size) {
//                     display: flex;
//                     justify-content: space-around;
//                 }

//                 .eventBox {
//                     @include eventBox();

//                     .img-box {
//                         a {
//                             img {
//                                 @include eventImg();
//                             }
//                         }
//                     }

//                     .eventText {
//                         @include eventText();
//                     }
//                 }
//             }

//             hr {
//                 @include hr();
//             }

//             .btn {
//                 button {
//                     @include button();
//                 }
//             }
//         }
//     }

//     .program {
//         margin-bottom: 150px;

//         @include responsive(tablet-size) {
//             margin-bottom: 120px;
//         }
//         @include responsive(tablet-size) {
//             margin-bottom: 300px;
//         }

//         .confix {
//             @include confix();
//             h2 {
//                 font-size: 2em;
//                 margin-bottom: 5px;
//             }
//             p {
//                 font-size: 0.8em;
//                 margin-bottom: 50px;
//                 @include responsive(tablet-size) {
//                     font-size: 1em;
//                 }
//             }
//             .program-list {
//                 .program-grid {
//                     @include responsive(pc-size) {
//                         width: 75%;
//                         margin: 0 auto;
//                     }
//                     a {
//                         .face,
//                         .campfire {
//                             display: flex;
//                             flex-direction: column;
//                             align-items: center;

//                             margin-bottom: 50px;
//                             transform: scale(0.96);
//                             transition-delay: 0.8s;
//                             transition: 0.3s ease-out;
//                             &:hover {
//                                 transform: scale(1);
//                                 transition: 0.2s ease-in;
//                             }
//                             @include responsive(tablet-size) {
//                                 flex-direction: row;
//                             }
    
//                             img {
//                                 @include responsive(tablet-size) {
//                                     width: 40%;
//                                 }
//                                 @include responsive(pc-size) {
//                                     width: 25%;
//                                 }
//                             }
    
//                             div {
//                                 width: 270px;
//                                 margin: 0 auto;
//                                 h4 {
//                                     margin: 15px 0 10px 0;
//                                     @include responsive(tablet-size) {
//                                         text-align: left;
//                                         margin-top: 0;
//                                     }
//                                 }
    
//                                 p {
//                                     margin: 0 auto;
//                                     text-align: left;
//                                 }
    
//                                 @include responsive(tablet-size) {
//                                     width: 50%;
//                                 }
//                             }
//                             @include responsive(tablet-size) {
//                                 display: flex;
//                                 justify-content: space-between;
//                             }
//                             @include responsive(tablet-size) {
//                                 justify-content: space-around;
//                             }
//                         }
//                     }
//                 }
//             }

//             hr {
//                 @include hr();
//             }
//             .btn {
//                 button {
//                     @include button();
//                 }
//             }
//         }
//     }

//     .middle-banner {
//         display: flex;
//         flex-direction: column;
//         background-color: $brown;
//         margin-bottom: 150px;

//         @include responsive(tablet-size) {
//             margin-bottom: 120px;
//         }
//         @include responsive(tablet-size) {
//             margin-bottom: 300px;
//         }
        
//         @include responsive(pc-size) {
//             flex-direction: row;
//         }
        
//         .left-side {
//             text-align: left;
//             padding: 80px 0;
//             position: relative;
//             // @include confix();
//             @include responsive(pc-size) {
//                 width: 50%;
//             }
                        
//             .confix {     
//                 .left-text {
//                     @include confix();
//                     @include responsive(pc-size) {
//                         width: 50%;
//                     }

//                     h2 {
//                         font-size: 2.5em;
//                         color: $mem-color;
//                         letter-spacing: 0.1em;
//                         @include responsive(tabelt-size) {
//                             letter-spacing: 0.2em;
//                             font-size: 2.7em;
//                         }
//                         @include responsive(pc-size) {
//                             font-size: 2.9em;
//                         }
//                     }

//                     h3 {
//                         margin: 30px 0 70px 0;
//                         color: $white;
//                         font-size: 1.5em;
//                         @include responsive(tabelt-size) {
//                             font-size: 2em;
//                         }
//                         @include responsive(pc-size) {
//                             font-size: 2em;
//                         }

//                     }
//                     p {
//                         line-height: 2em;
//                         color: $white;
//                         font-size: 0.85em;
//                         margin-bottom: 40px;
//                         @include responsive(tablet-size) {
//                             font-size: 1em;
//                         }
//                     }
//                 }

//                 .member-benefit-detail {
//                     position: absolute;
//                     right: 0;
//                     bottom: 0;
//                     padding: 25px 40px;
//                     background-color: $dark-brown;
//                     a {
//                         font-size: 1.375em;
//                         font-weight: 600;
//                         color: $white;
//                         span {
//                             img {
//                                 transform: translateY(5px);
//                             }
//                         }

//                         &:hover {
//                             color: $mem-color;
//                             span {
//                                 img {
//                                     transform: scale(1.3) translateY(5px);
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//         .right-side {
//             display: none;

//             @include responsive(pc-size) {
//                 display: block;
//                 width: 50%;
//                 float: right;
//                 overflow: hidden;
//             }

//             img {
//                 @include responsive(pc-size) {
//                     width: 100%;
//                     height: 100%;
//                     object-fit: cover;
//                 }
//             }
//         }
//     }

//     .room {
//         margin-bottom: 150px;

//         @include responsive(tablet-size) {
//             margin-bottom: 120px;
//         }
//         @include responsive(tablet-size) {
//             margin-bottom: 300px;
//         }

//         .confix {
//             @include confix();
//             h2 {
//                 font-size: 2em;
//                 margin-bottom: 5px;
//             }
//             h2 + p {
//                 font-size: 0.8em;
//                 margin-bottom: 50px;
//                 @include responsive(tablet-size) {
//                     font-size: 1em;
//                 }
//             }

            
//             .room-flexbox {
//                 @include responsive(tablet-size) {
//                     display: flex;
//                     flex-direction: row;
//                     justify-content: space-between;
//                 }
//                 @include responsive(pc-size) {
//                     justify-content: space-around;
//                 }

//                 .room-list {
//                     display: flex;
//                     flex-direction: column;
//                     justify-content: flex-start;
//                     margin:  0 auto;
//                     margin-bottom: 50px;
                    
//                     @include responsive(tablet-size) {
//                         margin-left: 0;
//                         margin-bottom: 0;
//                         width: 30%;
//                     }
//                     @include responsive(pc-size) {
//                         margin-right: 0;
//                         width: 15%;
//                     }
                    

//                     ul {
//                         li {
//                             display: flex;
//                             flex-direction: column;
//                             width: 175px;
//                             height: 140px;
//                             margin: 10px auto;
//                             @include responsive(tablet-size) {
//                                 margin: 30px 0 33px auto;
//                             }
//                             @include responsive(pc-size) {
//                                 margin-bottom: 20px;
//                                 &:last-child {
//                                     margin-bottom: 0px;
//                                 }
//                             }
                            
//                             a {
//                                 display: block;
//                                 width: 100%;
//                                 height: 100%;
//                                 overflow: hidden;
//                                 position: relative;

//                                 figure {
//                                     width: 100%;
//                                     height: 100%;

//                                     figcaption {
//                                         width: 100%;
//                                         height: 100%;
//                                         background-color: rgba(0,0,0,0.7);
//                                         position: absolute;
//                                         top: 0;
//                                         left: 0;
//                                         color: $white;
//                                         text-align: center;
//                                         line-height: 140px;
//                                         opacity: 0;
//                                         transition: 0.4s;
//                                         font-weight: 200;
//                                     }
//                                 }

//                                 &:hover {
//                                     figcaption {
//                                         opacity: 1;
//                                     }
//                                 }
//                             }
//                         }
//                     }
//                     a {
//                         img {
//                             position: relative;
//                         }
//                     }

//                     p {
//                         color: $white;
//                         position: absolute;
//                         top: 50%;
//                         left: 50%;
//                         transform: translate(-50%, -50%);
//                     }
//                 }

//                 .room-info-img {
//                     display: none;
//                     margin-bottom: 50px;

//                     @include responsive(tablet-size) {
//                         display: block;
//                         width: 67%;
//                     }
//                     @include responsive(pc-size) {
//                         display: flex;
//                         width: 75%;
//                     }
//                     .room-info {
//                         h4 {
//                             padding-top: 30px;
//                             font-size: 1.1em;
//                             margin-bottom: 15px;
//                         }
//                         p {
//                             font-size: 0.9em;
//                             margin-bottom: 15px;
//                         }
//                         @include responsive(pc-size) {
//                             margin-top: 150px;
//                             margin-right: 80px;
//                         }
//                     }

//                     .room-zoom {
//                         img {
//                             width: 450px;
//                             bottom: 0;
//                             @include responsive(pc-size) {
//                                 margin-top: 50px;
//                                 width: 100%
//                             }
//                         }
//                     }
//                 }

//                 /*.room-info-img {
//                     @include responsive(pc-size) {
//                         display: flex;
//                         justify-content: space-between;
//                         width: 100%;
//                     }

//                     .room-info {
//                         display: none;
//                         @include responsive(tablet-size) {
//                             display: block;
//                         }
//                         h4 {
//                             font-size: 1.1em;
//                             margin-bottom: 20px;
//                             @include responsive(pc-size) {
//                                 margin: 80px 0;
//                             }
//                         }
//                         p {
//                             font-size: 0.9em;
//                             margin: 0 auto;
//                         }
//                         .room-detail-info {
//                             margin: 10px 0;
//                         }
//                     }
    
//                     .room-zoom {
//                         display: none;
                        
//                         @include responsive(tablet-size) {
//                             display: block;
//                         }
                        
//                         img {
//                             @include responsive(tablet-size) {
//                                 width: 90%;
//                             }
//                             @include responsive(pc-size) {
//                                 width: 100%;
//                             }
//                         }
//                     }
//                 }*/
//             }
//         }

//         hr {
//             @include hr();
//         }
//         .btn {
//             button {
//                 @include button();
//             }
//         }
//     }

//     .facility {
//         margin-bottom: 150px;

//         @include responsive(tablet-size) {
//             margin-bottom: 120px;
//         }
//         @include responsive(tablet-size) {
//             margin-bottom: 300px;
//         }

//         .confix {
//             @include confix();
//             h2 {
//                 font-size: 2em;
//                 margin-bottom: 5px;
//             }
//             p {
//                 font-size: 0.8em;
//                 margin-bottom: 50px;
//                 @include responsive(tablet-size) {
//                     font-size: 1em;
//                 }
//             }

//             .facility-flexbox {
//                 margin: 0 auto;
//                 .facility-list {
//                     ul {
//                         @include responsive(tablet-size) {
//                             display: flex;
//                             flex-wrap: wrap;
//                             justify-content: center;
//                         }

//                         @include responsive(pc-size) {
//                             display: flex;
//                             flex-wrap: nowrap;
//                         }
//                         div {
//                            li {
//                             position: relative;
//                             p {
//                                 color: $white;
//                             }
//                             img {
//                                 &:hover {
//                                     opacity: 0.7;
//                                     transform: translate(0, -4px);
//                                     transition: 0.3s ease;
//                                 }
//                             }
//                            } 

//                            p {
//                             position: absolute;
//                             top: 50%;
//                             left: 50%;
//                             transform: translate(-50%, -50%);
//                             color: $black;
//                             font-weight: 500;
//                            }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

//footer
// footer {
//     background-color: #5a362c;
//     .logo-footer-text-footer-menu {
//         color: $white;
//         .confix {
//             @include confix();

//             .footer-flexbox {
//                 .logo {
//                     text-align: center;
//                     padding-top: 45px;
//                 }

//                 .footer-flex-tablet {
//                     .footer-info {
//                         margin: 50px 0;
//                         margin-bottom: 30px;
//                         line-height: 1.5em;
//                         font-weight: 100;
//                         font-size: 0.75em;
//                         @include responsive(pc-size) {
//                             margin-right: 120px;
//                         }
//                     }
    
//                     .footer-company {
//                         .footer-company-law {
//                             ul {
//                                 display: flex;
//                                 justify-content: space-between;
//                                 li {
//                                     font-weight: 600;
//                                     font-size: 0.75em;
//                                     a {
//                                         color: $white;
//                                         &:hover {
//                                             color: $mem-color;
//                                         }
//                                     }

//                                     @include responsive(tablet-size) {
//                                         margin-left: 10px;
//                                     }
//                                 }
//                             }
//                         }
//                         .footer-right-align {
//                            text-align: right;
//                            padding-bottom: 45px;
//                            .sns {
//                             margin: 10px 0 5px 0;
//                            }
//                            .family-site {
//                                 form{
//                                     select{
//                                         width: 200px;
//                                         text-align: center;
//                                         border-radius: 0;
//                                     }
//                                 }
//                             }
//                         }

//                         @include responsive(tablet-size) {
//                             margin: 50px 0;
//                         }
//                     }

//                     @include responsive(tablet-size) {
//                         display: flex;
//                         justify-content: space-between;
//                     }
//                 }

//                 @include responsive(pc-size) {
//                     display: flex;
//                     justify-content: space-around;
//                 }
//             }
//         }
//     }
// }

.wrapper {
    header {
        @include confix();
        max-width: 1440px;
        .header-flex {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 135px;
            @include responsive(tablet-size) {
                height: 80px;
                padding: 20px 0;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            .main-logo {
                max-width: 110px;
                margin: 20px 0 10px;
                @include responsive(tablet-size) {
                    margin: unset;
                    max-width: 100px;
                }
                img {
                    width: 100%;
                }
            }
            .menu {
                margin-bottom: 20px;
                @include responsive(tablet-size) {
                    margin: 0;
                }
                .small-nav{
                    margin-bottom: 8px;
                    ul {
                        display: flex;
                        justify-content: center;
                        font-size: 14px;
                        @include responsive(tablet-size) {
                            justify-content: flex-end;
                        }
                        li {
                            margin-right: 14px;
                            position: relative;
                            &:after {
                                position: absolute;
                                content: "";
                                width: 1px;
                                height: 12px;
                                top: 50%;
                                right: -7px;
                                transform: translateY(-50%);
                                background-color: #999;
                            }

                            &:last-child {
                                margin-right: 0;
                                &:after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .main-nav{
                    ul {
                        display: flex;
                        justify-content: flex-end;
                        font-size: 12px;
                        font-weight: 700;
                        li {
                            margin-left: 10px;
                            @include responsive(tablet-size) {
                                margin-left: 30px;
                            }
                            &:first-child {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    article {
        .main-img {
            @include confix();
            height: calc(100vh - 135px);
            display: flex;
            justify-content: center;
            align-items: center;
            background: url("../image/main_page.jpg") no-repeat;
            background-size: cover;
            background-position: left center;
            position: relative;
            @include responsive(tablet-size) {
                height: calc(100vh - 80px);
            }
            .title {
                text-align: center;
                font-weight:600;
                font-size: 16px;
                color: $white;
                h1 {
                    font-size: 22px;
                    font-weight: 800;
                    margin-bottom: 20px;
                    @include responsive(tablet-size) {
                        font-size: 26px;
                    }
                    @include responsive(pc-size) {
                        font-size: 38px;
                    }
                }
                p {
                    font-size: 12px;
                    font-weight: 400;
                    word-break: keep-all;
                    line-height: 1.6;
                    @include responsive(tablet-size) {
                        font-size: 16px;
                    }
                    @include responsive(pc-size) {
                        font-size: 20px;
                    }
                }
            }
            .reserve-bar {
                @include confix();
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: $brown;
                color: $white;
                .reservation {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 0;
                    @include responsive(tablet-size) {
                        justify-content: center;
                        max-width: 1440px;
                        margin: 0 auto;
                    }
                    p {
                        font-weight: 700;
                        font-size: 16px;
                        @include responsive(tablet-size) {
                            display: flex;
                            width: 50%;
                        }
                    }
                    ul {
                        @include responsive(tablet-size) {
                            width: 40%;
                            display: flex;
                            justify-content: space-between;
                        }
                        li {
                            margin-bottom: 6px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            a {
                                position: relative;
                                padding-left: 26px;
                                font-size: 14px;
                                &:before {
                                    position: absolute;
                                    content: "";
                                    width: 20px;
                                    height: 20px;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                                &.calendar:before {
                                    background: url("../image/calendar.jpg") no-repeat;
                                    background-size: contain;
                                }
                                &.search:before {
                                    background: url("../image/search.jpg") no-repeat;
                                    background-size: contain;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    main {
        section.section {
            padding: 200px 0;
            max-width: 1440px;
            margin: 0 auto;
            .title-box {
                margin-bottom: 60px;
                @include responsive(tablet-size) {
                    margin-bottom: 80px;
                }
                @include responsive(pc-size) {
                    margin-bottom: 100px;
                }
                h2 {
                    text-align: center;
                    font-size: 24px;
                    margin-bottom: 10px;
                    &+p {
                        text-align: center;
                        font-size: 14px;
                    }
                }
            }
            .line {
                height: 1px;
                width: 100%;
                background-color: $line-color;
                display: block;
                margin-bottom: 30px;
            }
        }
        section.event {
            .confix{
                @include confix();
                .event-list{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    @include responsive(tablet-size) {
                        flex-direction: row;
                        justify-content: space-between;
                    }
                    .eventBox {
                        margin-bottom: 25px;
                        @include responsive(tablet-size) {
                            width: calc(33.33% - 10px);
                        }
                        .img-box {
                            overflow: hidden;
                            max-width: 90%;
                            width: 100%;
                            margin: 0 auto;
                            margin-bottom: 10px;
                            img {
                                width: 100%;
                                border-radius: 40px;
                                transition: all 0.5s;
                                &:hover {
                                    transform: scale(1.1);
                                }
                            }
                            @include responsive(tablet-size) {
                                max-width: unset;
                            }
                            
                        }
                        .eventText {
                            .text-position {
                                h3 {
                                    font-size: 18px;
                                    margin-bottom: 5px;
                                    &+p {
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                }            
                .btn {
                    text-align: center;
                    button {
                        @include button();
                    }
                }
            }
        }
        section.program {
            .confix {
                @include confix();
                .program-list {
                    text-align: center;
                    .program-grid {
                        width: 90%;
                        margin: 0 auto;
                        display: flex;
                        flex-direction: column;
                        @include responsive(tablet-size) {
                            width: 100%;
                        }
                        .pro-list {
                            @include responsive(tablet-size) {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            .box-img {
                                margin-bottom: 20px;
                                overflow: hidden;
                                @include responsive(tablet-size) {
                                    width: 40%;
                                    max-width: 320px;
                                    margin-right: 20px;
                                }
                                img {
                                    width: 100%;
                                    &:hover {
                                        transform: scale(1.1);
                                        transition: all 0.5s;
                                    }
                                }
                            }
                            .pro-info {
                                margin-bottom: 25px;
                                @include responsive(tablet-size) {
                                    width: 60%;
                                    text-align: left;
                                }
                                h4 {
                                    font-size: 18px;
                                    margin-bottom: 10px;
                                    &+p {
                                        font-size: 16px;
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                    
                }
                .btn {
                    text-align: center;
                    button {
                        @include button();
                    }
                }
            }
        }
        .middle-banner {
            .banner-flex {
                @include confix();
                display: flex;
                flex-direction: column;
                @include responsive(tablet-size) {
                    flex-direction: row;
                }
                .left-side {
                    color: $white;
                    background-color: $brown;
                    padding: 50px 10px 100px;
                    position: relative;
                    @include responsive(tablet-size) {
                        width: 50%;
                        padding: 100px 30px 180px 30px;
                    }
                    @include responsive(full) {
                        padding: 100px 30px 180px 180px;
                    }
                    .left-text {
                        h2 {
                            color: $mem-color;
                            margin-bottom: 10px;
                            font-size: 38px;
                            @include responsive(tablet-size) {
                                font-size: 36px;
                            }
                            @include responsive(pc-size) {
                                font-size: 52px;
                            }
                        }
                        h3 {
                            font-size: 22px;
                            margin-bottom: 50px;
                            @include responsive(tablet-size) {
                                font-size: 24px;
                            }
                            @include responsive(pc-size) {
                                font-size: 32px;
                            }
                        }
                        p {
                            font-size: 16px;
                            line-height: 1.6;
                            @include responsive(tablet-size) {
                                font-size: 18px;
                            }
                        }
                    }
                    .member-benefit-detail {
                        background-color: $dark-brown;
                        // display: inline-block;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        font-size: 14px;
                        .plus {
                            padding: 10px 50px 10px 20px;
                            position: relative;
                            &:after {
                                position: absolute;
                                content: "";
                                width: 16px;
                                height: 16px;
                                top: 50%;
                                right: 20px;
                                transform: translateY(-50%);
                                background: url("../../assets/image/plus.jpg") no-repeat;
                                background-size: contain
                            }
                        }
                    }
                }
                .right-side {
                    background: url("../../assets/image/middle-banner.jpg") no-repeat;
                    padding: 200px 0;
                    background-size: cover;
                    background-position: center center;
                    @include responsive(tablet-size) {
                        width: 50%;
                    }
                }
            }
        }
        section.room {
            .confix {
                @include confix();
                .room-flexbox {
                    .room-list {
                        ul {
                            display: flex;
                            flex-direction: column;
                            @include responsive(tablet-size) {
                                flex-direction: row;
                                justify-content: space-between;
                            }
                            li {
                                @include responsive(tablet-size) {
                                    width: calc(33.33% - 10px);
                                }
                                .list-box {
                                    position: relative;
                                    margin-bottom: 25px;
                                    &:hover {
                                        .background {
                                            &::before {
                                                position: absolute;
                                                content: "";
                                                width: 100%;
                                                height: 100%;
                                                top: 0;
                                                left: 0;
                                                // background: rgba(0,0,0,0.6);
                                                background: none;
                                                transition: all 0.5s;
                                            }
                                            p {
                                                color: $black;
                                                transition: all 0.5s;
                                            }
                                        }
                                    }
                                    .img-box {
                                        img {
                                            width: 100%;
                                        }
                                    }
                                    .background {
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        top: 0;
                                        left: 0;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        &::before {
                                            position: absolute;
                                            content: "";
                                            width: 100%;
                                            height: 100%;
                                            top: 0;
                                            left: 0;
                                            background: rgba(0,0,0,0.6);
                                        }
                                        p {
                                            color: $white;
                                            font-weight: 600;
                                            z-index: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }   
                }
                .btn {
                    text-align: center;
                    button {
                        @include button();
                    }
                }
            }
        }
        section.facility {
            padding-bottom: 0;
            .confix {
                @include confix();
                .facility-flexbox {
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        @include responsive(tablet-size) {
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: center;
                        }
                        li {
                            .facility-box {
                                position: relative;
                                &:hover {
                                    .img {
                                        overflow: hidden;
                                        img {
                                            transform: scale(1.05);
                                            transition: all 0.5s;
                                        }
                                    }
                                }
                                p {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    color: $white;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        background-color: $brown;
        padding: 100px 0;
        color: $white;
        .confix {
            @include confix();
            .footer-flexbox {
                display: flex;
                flex-direction: column;
                font-size: 14px;
                @include responsive(tablet-size) {
                    flex-direction: row;
                    justify-content: space-between;
                    max-width: 1023px;
                    margin: 0 auto;
                }
                .logo {
                    width: 40%;
                    margin-bottom: 30px;
                    @include responsive(tablet-size) {
                        width: unset;
                    }
                }
                .footer-flex-tablet {
                    display: flex;
                    flex-direction: column;
                    .footer-info {
                        margin-bottom: 30px;
                    }
                    .footer-company {
                        .footer-company-law {
                            margin-bottom: 20px;
                            max-width: 360px;
                            ul {
                                display: flex;
                                justify-content: space-between;
                            }
                        }
                        .footer-right-align {
                            display: flex;
                            justify-content: space-between;

                            .sns {
                                display: flex;
                                a {
                                    margin-right: 10px;
                                    &:last-child {
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}